<div id="sidebar_content">
  <% if can_do(@assignment, @current_user, :grade) %>
  <%= render :partial => "grade_assignment" %>
  <% end %>
  <% if @current_user_submission %>
  <%= render :partial => "submission_sidebar" %>
  <% elsif @assignment.expects_submission? && can_do(@assignment, @current_user, :submit) %>
  <ul class="page-action-list">
    <li>
      <% late = @current_user_submission.try(:late?) ? "late" : "" %>
      <a href="#" class="submit_assignment_link button-sidebar-wide <%= late %>">
        <i class='icon-add'></i> <%= t 'links.submit', "Submit Assignment" %>
      </a>
    </li>
  </ul>
  <!-- Imperial College London: Cover Sheet -->
  <% elsif @assignment.expects_paper_submission? %>
  <ul class="page-action-list">
    <li>
      <%= link_to (raw("<i class='icon-add'></i> Download Coversheet")),
          cover_sheet_course_assignment_path(
	  :student_name => @current_user.sortable_name,
          :student_id => @current_user.all_active_pseudonyms.first.unique_id,
          :course_title => @context.name,
          :course_code => @context.course_code,
          :exercise_title => @assignment.name,
          :exercise_id => @assignment.id,
          :issued_date => @assignment.unlock_at,
          :due_date => @assignment.due_at,
          :assessment_type => @assignment.group_category_id,
          ),
          :class => "button-sidebar-wide" %>
    </li>
  </ul>
  <!-- end -->
  <% end %>
</div>
