<% if @current_user %>
  <ul role="navigation" id="menu" aria-label="<%= t('navigation.main', 'Main Navigation') %>">
    <%- cache([@current_user, 'home-menu-15m'], :expires_in => 15.minutes) do -%>
    <li id="courses_menu_item" class="menu-item">
      <%= render(:partial => 'shared/home_menu') %>
    </li>
    <%- end -%>
    <%# Imperial College London: Removing unneeded tag: grades %>
    <%# As it only displays final grades for each course %>
    <!--
    <li id="grades_menu_item" class="menu-item">
      <a href="<%= grades_path %>" class="menu-item-no-drop">
        <% if k12? %>
          <%= render(:partial => 'shared/svg/svg_icon_grades') %>
          <div class="menu-item__text">
        <% end %>
        <%= t('menu.grades', 'Grades') %>
        <% if k12? %></div><% end %>
      </a>
    </li> -->
    <li id="calendar_menu_item" class="menu-item">
      <a href="<%= calendar_path %>" class="menu-item-no-drop">
        <% if k12? %>
          <%= render(:partial => 'shared/svg/svg_icon_calendar') %>
          <div class="menu-item__text">
        <% end %>
        <%= t('menu.calendar', 'Calendar') %>
        <% if k12? %></div><% end %>
      </a>
    </li>
    <!-- Imperial College London: Teaching Database -->
    <li class="menu-item">
      <a href="https://teachdb.doc.ic.ac.uk/db/" class="menu-item-no-drop">
          <div class="menu-item__text">Database</div>
      </a>
    </li>
    <!-- Imperial College London: Course Subscription -->
    <li class="menu-item">
      <a href="https://dbc.doc.ic.ac.uk/internalreg" class="menu-item-no-drop">
          <div class="menu-item__text">Subscription</div>
      </a>
    </li>
    <!-- Imperial College London: coversheet -->
    <% if @current_user.is_sao? or current_user_is_account_admin %>
    <li class="menu-item">
      <a href="<%= icl_paper_submission_show_path %>" class="menu-item-no-drop">
        <div class="menu-item__text">SAO</div>
      </a>
    </li>
    <% end %>
    <!-- end -->
    
    <%# Inbox menu item currently only for K-12 %>
    <% if k12? %>
      <% unless @current_user.fake_student? %>
        <li id="inbox_menu_item" class="menu-item">
          <a href="<%= conversations_path %>" class="menu-item-no-drop">
            <div class="icon-badge-combo">
              <div class="icon-badge-combo__icon"><%= render(:partial => 'shared/svg/svg_icon_mail') %></div>
              <% unless @current_user.disabled_inbox? %>
                <% unread = @current_user.unread_conversations_count %>
                <span class="icon-badge-combo__badge" <% if unread == 0 %> style="display: none;"<% end %>><%= unread %></span>
              <% end %>
            </div>
            <div class="menu-item__text"><%= t 'links.inbox', "Inbox" %></div>
          </a>
        </li>  
      <% end %>
    <% end %>
    <%= render(:partial => 'external_tools/global_nav_menu_items') %>
  </ul>
<% end %>
