<%= render "shared/icl_pp_sidebar", is_admin: @is_admin %>

<h1>Project Portal</h1>
<% #Not so happy with this. Gotta find a smoother way of defining the main admin %>
<% if @is_admin then %>

<h3>Choose individual project course</h3>
<%= form_tag(controller: "icl_project_portal", action: "choose_individual_project_course", method: "get") do %>

  <%= select_tag(:course, options_for_select(Course.all().map{|course| [course.name, course.id]}, selected: :course )) %>
  <br />
  <%= submit_tag("Choose", :class => 'btn btn-primary') %>
<% end %>

<% end %>
<% #if can_do @current_user, @current_user, :manage_project_portal %>

<% #end %>




<%= render "shared/icl_pp_footer" %>

