<% content_for :page_title do %><%= t(:page_title, "Submission record") %>
<% end %>
<% @active_tab = "records" %>
<style>
  .submitted {
  background: rgb(209, 255, 209);
  }
  .unsubmitted {
  background: rgb(255, 159, 159);
  }
  .recorder {
  font-size: 10px;
  color: #999;
  }
</style>
<table class="ic-Table ic-Table--hover-row">
  <thead>
    <tr class="ic-Table__row--bg-neutral">
      <th></th>
      <% @assignments.each do |assignment| %>
      <th><%= assignment.title %></th>
      <% end %>
    </tr>
    <% @students.each do |student| %>
    <tr>
      <th><%= student.sortable_name %></th>
      <% @assignments.each do |assignment| %>
      <% if Submission.where("assignment_id=? AND user_id=?", assignment.id, student.id).exists? %>
      <th class="submitted">
	<div>Submitted</div>
	<% if Submission.where("assignment_id=? AND user_id=?", assignment.id, student.id).first.icl_submission_record.present? %>
	<div class="recorder">recorded by <%=Submission.where("assignment_id=? AND user_id=?", assignment.id, student.id).first.icl_submission_record.recorder_id %> </div>
	<div class="recorder">on <%=Submission.where("assignment_id=? AND user_id=?", assignment.id, student.id).first.icl_submission_record.created_at.strftime("%d %b %Y") %> </div>
	<% end %>
      </th>
      <% else %>
      <th class="unsubmitted">Unsubmitted</th>
      <% end %>
      <% end %>
    </tr>
    <% end %>
  </thead>
</table>
