<% content_for :page_title do %><%= t(:page_title, "Attendance") %>
<% end %>
<% @active_tab = "attendance" %>
<style>
  .student_name {
  font-size: 17px;
  }
  .student_id {
  font-size: 12px;
  color: #999;
  }
  .tutoring_date {
  font-size: 15px;
  min-width: 135px;
  }
  .tick {
  color: green;
  }

  .cross {
  color: rgb(190, 37, 37);
  }
</style>
<% if !@context.user_is_student?(@current_user) %>
<div class="ic-Expand-link ic-Expand-link--Danger">
  <a href="#" class="close_wizard_link ic-Expand-link__trigger">
    <div class="ic-Expand-link__layout">
      <i class="icon-warning ic-Expand-link__icon"></i>
      <span class="ic-Expand-link__text">You are in the wrong view, please go to the attendance page for academic staffs.</span>
    </div>
  </a>
</div>
<% else %>
<div class="v-gutter" id="attendance_content">
  <table class="ic-Table ic-Table--hover-row">
    <thead>
      <tr class="ic-Table__row--bg-neutral">
	<th id="top-left-corner"></th>
	<% @students.each do |student| %>
        <th id="student_<%= student.id %>" class="attedance_table_student">
          <div class="student_name"><%= student.last_name_first %></div>
          <div class="student_id"><%= student.all_active_pseudonyms.first.unique_id %></div>
	</th>
	<% end %>
	<th> Recorded by </th>
	<th id="top-right-corner"></th>
      </tr>
    </thead>
    <% @attendances.each do |attendance| %>
    <tr class="data-row">
      <td>
	<div class="tutoring_date"><%= attendance.tutoring_date.strftime("%a, %d %b %Y")%></div>
      </td>
      <% @students.each do |student| %>
      <td>
	<% if attendance.present_student.include?(student.all_active_pseudonyms.first.unique_id) %>
	<i class="icon-check tick"></i>
	<% elsif attendance.absent_student.include?(student.all_active_pseudonyms.first.unique_id)%>
	<i class="icon-x cross"></i>
	<% end %>
      </td>
      <% end %>
      <td>
	<div>
	  <%= attendance.last_updated_by %> 
	</div>
	<div class="student_id">
	  on <%= attendance.updated_at.strftime("%d %b %Y") %>
	</div>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<% end %>
